<! DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="certificate icon"></i>My blog</div>
                <a href="/blogs" class="item" >Home page</a>
                <a href="/blogs/new" class="item">New blog</a>
            </div>
        </div>
        
  