<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit Blog</div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
  <div class="field">
    <label>Title</label>
    <input type="text" name="blog[title]" placeholder="Title" value="<%= blog.title %>"  >
  </div>
  <div class="field">
    <label>Image URL:</label>
    <input type="text" name="blog[image]" placeholder="Image url" value="<%= blog.image %>" >
  </div>
   <div class="field">
    <label>Text</label>
    <textarea name="blog[body]" placeholder="Blog post goes here"><%= blog.body %></textarea>
  </div>
  <button class="ui red basic button" type="submit">Submit</button>
</form>
</div>













<% include partials/footer %>